*{
    margin: 0;
    color: #2e053a;
}
.signup-section{
  background-image:url(../images/back.png); 
  background-color: rgba(0, 0, 0, 0.3); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.signup-section > div{
  background-color: white;
  opacity: 85%;
  border-radius: 20px;
  width: 450px;
  height: 90vh;
  align-items: center;
  padding: 5px;
  box-shadow:-40px 40px 30px rgba(0,0,0,0.5);
}
.signup-section > div > img{
    width: 50px;
    height: 50px;
    padding-top: 0px;
    padding-left: 10px;
}
.signup-section > div > h4{
    font-size: 30px;
    text-align: center;
}
.signup-section > div > h5{
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
.signup-section > div > p{
    font-size: 17px;
    margin: 10PX 20px;
}
.signup-section > div > input{
   width: 80%;
   border-width:0px 0px 2px 0px;
   border-color: #000000;
   margin: 0px 20px ;
   height: 20px;
}
.signup-section > div > h3{
    width: 200px;
    padding:20px 20px 0px 20px;
}
.signup-section > div > a> button{
    color: orange;
    background-color: #2e053a;
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.signup-section > div > a{
    width: 90px; 
    margin:0px 20px;
    height: 30px;
}
.signup-section>div>a>button:hover{
    background-color: orange;
    color: #2e053a;
}
@media only screen and (max-width:600px) {
    *{
        font-size: 0px;
    }}